.App {

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  background-color: lightgreen;
  border-radius: 6px;
}

.new-message {
  display: flex;
  gap: 20px;
  margin: 10px;
  width: 90%;
}

.new-message textarea {
  flex-grow: 10;
}

